@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --main-blue: #002940;
  --second-blue: #024166;
  --main-green: #87c641;
  --main-green-hover: #66972f;
  --blue-gradient: linear-gradient(180deg,
      rgba(117, 161, 185, 1) 0%,
      rgba(27, 72, 97, 1) 75%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-weight: 200;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  overflow-x: hidden;
  display: none;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

a {
  color: #333;
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.bg-image {
  background-image: url('../src/images/hero.jpg');
  background-size: cover;
  background-position: center;
}

// MODAL
.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: calc(max(50%, 600px));

  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-register {
  font-size: .8em;
}

// MODAL



.column {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.icon {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  height: 1.3rem;

  &:hover {
    font-size: 1.3rem;
  }
}


.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// COMPONENTS
.container {
  width: calc(min(1200px, 90%));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  max-width: 100%;
  height: 100%;
}

.card {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: calc(min(900px, 90%));
  // width: clamp(50%, 900px, 90%);
  height: calc(min(50%, 300px));
}

*::-webkit-scrollbar {
  display: none;
}

.btn {
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: var(--second-blue) 1px solid;
  border-radius: 5px;
  background: var(--blue-gradient);
  cursor: pointer;
  outline: none;
}

.btn-green {
  border: none;
  background: var(--main-green);
}

.btn-green:hover {
  background: var(--main-green-hover);
}

.blue-strip {
  background-color: var(--main-blue);
  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.popup {
  span {
    line-height: 2em;
    font-weight: bold;
    font-size: 1.3em;
  }

  .popup-bottom {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 3px;

    button {
      padding: 5px;
      margin: 3px auto;
    }
  }
}

// COMPONENTS
// HEADER
.header {
  height: 65px;
  width: calc(min(1200px, 90%));
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
    cursor: pointer;
  }

  a {
    color: var(--main-green);
  }

  a:hover {
    text-decoration: underline;
  }
}

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;

  .card {
    width: calc(min(500px, 90%));
    height: auto;
    margin: auto auto 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;

    .card-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      :nth-child(1) {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      :nth-child(2) {
        font-size: 1.3rem;
      }
    }

    .buttons {
      margin-top: 1rem;
    }
  }
}

.herby {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  gap: 3rem;
  margin-top: 2rem;

  img {
    padding: 10px;
    max-width: 100px;
    object-fit: scale-down;
    opacity: 0.3;
    transition: 1s;
  }

  img:hover {
    opacity: 1;
  }
}

.main-homescreen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    font-weight: bold;
  }

  // SECTION 2
  .main-section-2 {
    width: calc(min(1200px, 90%));
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      margin: 2rem 0;
    }

    img {
      width: 100%;
    }
  }

  // SECTION 3
  .main-section-3 {
    .icons {
      display: flex;
      flex-wrap: wrap;
      margin: 3rem;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: 1rem auto;
        gap: 10px;
      }
    }
  }

  // SECTION 4
  .main-section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 3rem 0;
    gap: 5rem;
    text-align: start;

    .section-4-info {
      display: flex;
      flex-direction: column;
      text-align: flex-start;
      gap: 1rem;

      ul {
        margin-left: 40px;
        list-style: initial;
      }

      button {
        margin: 0 auto 0 0;
      }
    }
  }
}

.login-screen {
  section {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      gap: 3rem;

      .side,
      .side form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
          margin-bottom: 10px;
        }

        input {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.register-screen {}

.helpdesk {

  .main {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;

    .blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 1rem;

      button {
        flex: 1 0 200px;
        padding: 30px;
        border: 1px solid var(--main-green);
        color: var(--main-green);
        background-color: white;
        border-radius: 5px;

        :nth-child(1) {
          margin-bottom: 10px;
          font-size: 1.2em;
        }
      }

      button:hover {
        background-color: var(--main-green);
        color: white;
      }
    }

    .promoted-articles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .promoted-articles-item {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;

        p:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.search-for-appointment {
  background-color: var(--second-blue);
  min-height: 75%;
  color: white;
  width: 100%;

  .container {
    flex-direction: column;
  }

  .top {
    padding: 3rem 0;

    :nth-child(1) {
      font-weight: 100;
      font-size: 2rem;
    }
  }

  .row {
    width: 100%;
  }

  .searchbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .item {
      width: 100%;

      label {
        font-weight: 400;
        margin-bottom: 5px;
      }

      input {
        padding: 15px;
        border-radius: 5px;
        border: none;
      }
    }

    button {
      align-self: flex-end;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;

    .icon {
      width: 100%;
    }

    :nth-child(1) {
      font-size: 1.5rem;
    }
  }
}

.clinics-map {
  main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .locations {
      width: 100%;
      max-height: 1000px;
      overflow: hidden;
      overflow-y: scroll;

      .location {
        margin: 20px;
        background-color: var(--second-blue);
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px var(--main-blue);
        display: flex;
        justify-content: space-between;
      }

      .location:nth-child(2n) {
        background-color: white;
        color: var(--second-blue);

        .icon {
          color: var(--second-blue);
        }
      }
    }
  }

  .map {
    min-width: 400px;
    margin: 1rem 0;
  }

}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;

  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
  }

  .left {
    display: flex;
    flex-direction: column;

    #Ireland::after {
      content: 'Eolas Building, Maynooth, Co. Kildare, Ireland';
    }

    #UK::after {
      content: 'The Gridiron Building, 1 Pancras SQ, London, N1C 4AG';
    }

    a {
      color: white;
      margin-top: 1rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .login-screen {
    section {
      .card {
        flex-direction: column;
      }
    }
  }
}