@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
:root {
  --main-blue: #002940;
  --second-blue: #024166;
  --main-green: #87c641;
  --main-green-hover: #66972f;
  --blue-gradient: linear-gradient(180deg,
      rgba(117, 161, 185, 1) 0%,
      rgba(27, 72, 97, 1) 75%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  overflow-x: hidden;
  display: none;
}

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

hr {
  margin: 2rem 0;
}

img {
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 1000px;
}

.btn {
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: var(--second-blue) 1px solid;
  border-radius: 5px;
  background: var(--blue-gradient);
  cursor: pointer;
}

.btn-green {
  border: none;
  background: var(--main-green);
}

.btn-green:hover {
  background: var(--main-green-hover);
}

.blue-strip {
  background-color: var(--main-blue);
  color: white;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.header {
  height: 65px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  height: 50px;
  cursor: pointer;
}

.header a {
  color: var(--main-green);
}

.header a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 100%;
  height: 500px;
}

.hero .card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 80px;
  left: 3rem;
  right: 3rem;
  max-width: 400px;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: white;
  border-radius: 10px 10px 0 0;
}

.hero .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  height: 100%;
}

.hero .card .card-text :nth-child(1) {
  font-size: 2rem;
  line-height: 2.2rem;
}

.hero .card .card-text :nth-child(2) {
  font-size: 1.3rem;
}

.hero img {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero .hero-bottom {
  position: absolute;
  bottom: 0;
}

.herby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  gap: 3rem;
  margin-top: 2rem;
}

.herby img {
  padding: 10px;
  max-width: 100px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  opacity: 0.3;
  -webkit-transition: 1s;
  transition: 1s;
}

.herby img:hover {
  opacity: 1;
}

.main-homescreen {
  text-align: center;
}

.main-homescreen h4 {
  font-weight: bold;
}

.main-homescreen .main-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-homescreen .main-section-2 button {
  margin: 2rem 0;
}

.main-homescreen .main-section-3 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem;
}

.main-homescreen .main-section-3 .icons .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  margin: 1rem auto;
  gap: 10px;
}

.main-homescreen .main-section-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  gap: 5rem;
}

.main-homescreen .main-section-4 .section-4-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  gap: 1rem;
}

.main-homescreen .main-section-4 .section-4-info ul {
  margin-left: 40px;
  list-style: initial;
}

.main-homescreen .main-section-4 .section-4-info button {
  margin: 0 auto 0 0;
}

.login-screen img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-screen .card {
  position: absolute;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 20px;
  border-radius: 10px;
}

.login-screen .register-data-info .bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 21;
}

.login-screen .register-data-info .card {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 22;
  background-color: whitesmoke;
  color: black;
}

.login-screen .register-data-info .card p {
  text-align: start;
  font-size: .9rem;
}

.login-screen .register-data-info .card h4,
.login-screen .register-data-info .card h1 {
  font-weight: 400;
}

.login-screen .register-data-info .card ul {
  text-align: start;
  list-style: initial;
  margin-left: 30px;
}

.login-screen .register-data-info .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.login-screen .register-data-info .card::-webkit-scrollbar {
  display: none;
}

.login-screen section {
  position: relative;
  height: 500px;
}

.login-screen section .card {
  width: 1000px;
  height: 250px;
}

.login-screen section #login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 1.3rem;
}

.login-screen section #login .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.login-screen section #login .box h1 {
  margin: 10px 0 20px;
}

.login-screen section #login .box form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login-screen section #login .box form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-screen section #login .box #register-btn {
  height: 100px;
  font-size: 2rem;
  background: #024166;
}

.helpdesk img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.helpdesk .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  gap: 2rem;
}

.helpdesk .main .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.helpdesk .main .blocks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  border: 1px solid var(--main-green);
  color: var(--main-green);
  gap: 1rem;
  padding: 20px 30px;
  margin: 1rem;
}

.helpdesk .main .blocks a:hover {
  background-color: var(--main-green);
  color: white;
}

.helpdesk .main .promoted-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.helpdesk .main .promoted-articles .promoted-articles-item {
  border-bottom: 1px solid #ccc;
}

.helpdesk .main .promoted-articles .promoted-articles-item a:hover {
  text-decoration: underline;
}

.search-for-appointment {
  background-color: var(--second-blue);
  min-height: 75%;
  color: white;
  width: 100%;
}

.search-for-appointment .top {
  padding: 3rem 0;
}

.search-for-appointment .top :nth-child(1) {
  font-weight: 100;
  font-size: 2rem;
}

.search-for-appointment .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.search-for-appointment .searchbar .item {
  width: 100%;
}

.search-for-appointment .searchbar .item label {
  font-weight: 400;
  margin-bottom: 5px;
}

.search-for-appointment .searchbar .item input {
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.search-for-appointment .searchbar button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.search-for-appointment .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.search-for-appointment .icons .icon {
  width: 100%;
}

.search-for-appointment .icons :nth-child(1) {
  font-size: 1.5rem;
}

.clinics-map main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.footer .split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
}

.footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .left #Ireland::after {
  content: 'Eolas Building, Maynooth, Co. Kildare, Ireland';
}

.footer .left #UK::after {
  content: 'The Gridiron Building, 1 Pancras SQ, London, N1C 4AG';
}

.footer .left a {
  color: white;
  margin-top: 1rem;
}

.footer .left a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-homescreen .main-section-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-homescreen .main-section-4 img {
    display: none;
  }
}

@media (max-width: 992px) {
  .helpdesk .main .promoted-articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .search-for-appointment .searchbar,
  .search-for-appointment .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */