@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --main-blue: #002940;
  --second-blue: #024166;
  --main-green: #87c641;
  --main-green-hover: #66972f;
  --blue-gradient: linear-gradient(180deg,
      rgba(117, 161, 185, 1) 0%,
      rgba(27, 72, 97, 1) 75%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-weight: 200;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  overflow-x: hidden;
  display: none;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

hr {
  margin: 2rem 0;
}

img,
form,
input {
  width: 100%;
}

.bg-img {
  position: absolute;
  inset: 0;
  z-index: -20;
  object-fit: cover;
  height: 100%;
}

.row {
  display: flex;
  max-width: 100%;
  height: 100%;
  margin: 0 3rem;
}

.column {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// COMPONENTS
.container {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

.btn {
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: var(--second-blue) 1px solid;
  border-radius: 5px;
  background: var(--blue-gradient);
  cursor: pointer;
  outline: none;
}

.btn-green {
  border: none;
  background: var(--main-green);
}

.btn-green:hover {
  background: var(--main-green-hover);
}

.blue-strip {
  background-color: var(--main-blue);
  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

// COMPONENTS
// HEADER
.header {
  height: 65px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
    cursor: pointer;
  }

  a {
    color: var(--main-green);
  }

  a:hover {
    text-decoration: underline;
  }
}

.hero {
  height: 500px;
  position: relative;

  .bg-img {
    height: 420px;
  }

  .blue-strip {
    position: absolute;
    bottom: 0;
  }

  .card {
    position: absolute;
    left: 0;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;

    .card-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      :nth-child(1) {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      :nth-child(2) {
        font-size: 1.3rem;
      }
    }

    .buttons {
      margin-top: 1rem;
    }
  }
}

.herby {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  gap: 3rem;
  margin-top: 2rem;

  img {
    padding: 10px;
    max-width: 100px;
    object-fit: scale-down;
    opacity: 0.3;
    transition: 1s;
  }

  img:hover {
    opacity: 1;
  }
}

.main-homescreen {
  text-align: center;

  h4 {
    font-weight: bold;
  }

  // SECTION 2
  .main-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      margin: 2rem 0;
    }
  }

  // SECTION 3
  .main-section-3 {
    .icons {
      display: flex;
      flex-wrap: wrap;
      margin: 3rem;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: 1rem auto;
        gap: 10px;
      }
    }
  }

  // SECTION 4
  .main-section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 3rem 0;
    gap: 5rem;

    .section-4-info {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 1rem;

      ul {
        margin-left: 40px;
        list-style: initial;
      }

      button {
        margin: 0 auto 0 0;
      }
    }
  }
}

.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    position: relative;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #register-data-info {
      display: flex;

      .card {
        background-color: whitesmoke;
        color: black;
        box-shadow: 0 0 50px black;
        margin: 3rem;
        max-width: 800px;
        font-size: .8rem;

        p {
          text-align: start;
        }

        h4,
        h1 {
          font-weight: 400
        }

        ul {
          text-align: start;
          list-style: initial;
          margin: 10px 0 10px 30px;
        }

        .buttons {
          display: flex;
          justify-content: end;
        }
      }
    }

    #login-register {
      width: 100%;
      @include flex-column;

      .card {
        .row {
          justify-content: space-between;
        }

        #register-btn {
          background: #024166;
          padding: 2rem;
          font-size: 2rem;
          margin: 1rem 0;
        }

        form {
          @include flex-column();
          gap: 1rem;

          input {
            width: 100%;
          }
        }
      }
    }
  }

}

.register-screen {
  position: relative;

  hr {
    margin: 10px 0;
  }

  section {
    position: relative;

    h1 {
      margin-bottom: 1rem
    }

    p {
      font-size: .8rem;
    }

    button {
      margin: 10px auto 10px 0;
    }

    .register-btn {
      margin: 0 auto;
      padding: 1rem 2rem;
      font-size: 2rem;
    }

    .column {
      gap: 1rem
    }

    .card {
      @include flex-column;
      margin: 3rem 0;
      text-align: start;

      overflow: hidden;
      overflow-y: scroll;

      .row {
        margin: 0;
      }

      .number-input {
        display: flex;
        align-items: center;
        font-size: 1.6rem;

        span {
          margin: 0 10px;
        }
      }
    }

    #please-note {
      background-color: whitesmoke;
      color: black;
      padding: 1rem;
      border-radius: 10px;
      font-size: .8rem;

      span {
        font-weight: bold;
      }

      ul {
        list-style: initial;

        li {
          margin-left: 2rem;
        }
      }
    }
  }
}

.helpdesk {
  img {
    height: 500px;
    object-fit: cover;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;

    .blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      a {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1 0 200px;
        border: 1px solid var(--main-green);
        color: var(--main-green);
        gap: 1rem;
        padding: 20px 30px;
        margin: 1rem;
      }

      a:hover {
        background-color: var(--main-green);
        color: white;
      }
    }

    .promoted-articles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .promoted-articles-item {
        border-bottom: 1px solid #ccc;

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.search-for-appointment {
  background-color: var(--second-blue);
  min-height: 75%;
  color: white;
  width: 100%;

  .container {
    flex-direction: column;
  }

  .top {
    padding: 3rem 0;

    :nth-child(1) {
      font-weight: 100;
      font-size: 2rem;
    }
  }

  .row {
    width: 100%;
  }

  .searchbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .item {
      width: 100%;

      label {
        font-weight: 400;
        margin-bottom: 5px;
      }

      input {
        padding: 15px;
        border-radius: 5px;
        border: none;
      }
    }

    button {
      align-self: flex-end;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;

    .icon {
      width: 100%;
    }

    :nth-child(1) {
      font-size: 1.5rem;
    }
  }
}

.clinics-map {
  main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .locations {
      width: 100%;

      .location {
        margin: 2px;
        background-color: #002940;
        color: white;
        padding: 10px;
      }
    }
  }

  .card {}

  .map {
    min-width: 400px;
    margin: 1rem 0;
  }

}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;

  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
  }

  .left {
    display: flex;
    flex-direction: column;

    #Ireland::after {
      content: 'Eolas Building, Maynooth, Co. Kildare, Ireland';
    }

    #UK::after {
      content: 'The Gridiron Building, 1 Pancras SQ, London, N1C 4AG';
    }

    a {
      color: white;
      margin-top: 1rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .main-homescreen {
    .main-section-4 {
      grid-template-columns: 1fr;

      img {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .helpdesk .main .promoted-articles {
    grid-template-columns: 1fr;
  }

  .search-for-appointment {

    .searchbar,
    .icons {
      flex-direction: column;
    }
  }
}